.modal {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(16px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100dvh;
  z-index: 1111;
  display: none;
  overflow-y: auto;
  @media (max-width: 768px) {
    padding: 0 15px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &_content {
    max-width: 436px;
    padding: 24px;
    background: #fff;
    position: absolute;
    inset: 0;
    margin: auto;
    margin-top: 153px;
    max-height: fit-content;
    @media (max-width: 556px) {
      padding: 24px 16px;
      max-width: calc(100% - 30px);
    }
    .exit {
      top: 24px;
      right: 24px;
      position: absolute;
      cursor: pointer;
    }
    &_info {
      max-height: 532px;
      overflow-y: auto;
      padding-right: 9px;
      &::-webkit-scrollbar {
        width: 3px;
        &-thumb {
          background: #cacaca;
          width: 3px;
        }
      }
      li {
        padding-left: 12px;
        list-style: inside;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-top: 16px;
      }
      .text_16 {
        margin-top: 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        color: #555;
      }
      .bonus_section__title,
      .bonus_section__subtitle {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        margin-top: 32px;
      }
    }
  }
  &_title {
    color: #272727;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    padding-top: 24px;
    font-family: "Helvetica Neue" !important;
    @media (max-width: 556px) {
      text-align: left;
    }
  }
  .hide {
    display: none;
  }
  &_subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #555;
    padding-top: 24px;
    @media (max-width: 768px) {
      text-align: left;
    }
  }
  &_form {
    margin-top: 32px;
  }
  &_input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    &:nth-child(n + 2) {
      margin-top: 16px;
    }
    &-title {
      color: #272727;
      font-family: "Helvetica Neue";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-transform: uppercase;
    }
    input {
      border: 1px solid #e8e8e8;
      background: #fff;
      padding: 9px 12px;
      outline: none;
      color: var(--Grey, #555);
      font-family: "Helvetica Neue";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 22.4px */
    }
  }
  .modal_inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    .form_bottom {
      margin-top: 0;
    }
    a {
      color: #555;
      text-align: right;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-decoration: underline;
    }
    .modal_form_bottom {
      width: fit-content;
    }
  }
  .form_bottom {
    cursor: pointer;
    padding-left: 4px;
    display: flex;
    margin-top: 8px;
    align-items: center;
    gap: 12px;
    p {
      color: #555;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    a {
      color: #555;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-decoration-line: underline;
    }
  }
  .form_buttons {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .button {
      outline: none;
      border: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-transform: uppercase;
      border-radius: 100px;
      padding: 10px 20px;
      width: 100%;
      display: block;
      background: #91be17;
      color: #fff;
      @media (max-width: 768px) {
        padding: 10px 16px;
      }
      @media (max-width: 556px) {
        font-size: 15px;
      }
    }
    a.button {
      border: 1px solid #555;
      color: #555;
      text-align: center;
      background: #fff;
    }
    button[disabled] {
      background: #f0f0f0;
      cursor: not-allowed;
      color: #858585;
      border: 0;
    }
  }
  &_bottom_text {
    color: #555;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 24px;
    display: block;
    text-align: center;
    a {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      text-decoration: none;
      color: #555;
      text-decoration: underline;
    }
  }

  .sms_inputs {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    width: fit-content;
    border: 1px solid #cacaca;
    border-left: 0;
    border-right: 0;
    margin: 0 auto;
    margin-top: 24px;
    input {
      width: 45px;
      height: 48px;
      border: 1px solid #e8e8e8;
      border-top: 0;
      border-bottom: 0;
      background: #fff;
      padding: 12px 17px;
    }
  }
}

.eye {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 12px;
  width: 24px;
  height: 24px;
  background: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  img {
    transition: all 0.2s linear;
  }
  &::after {
    opacity: 0;
  }
  &.active {
    &::after {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #858585;
      transform: rotate(45deg);
      opacity: 1;
      z-index: 9;
    }
  }
}
