@import "oformlenie";
@import "modal";
@import "profile";
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Thin.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Roman.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
p,
span,
a,
ul,
li {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: medium;
  line-height: 100%;
}
// Variables
$green: #7ed321;
$white: #ffffff;
$black: #000000;
$gray-light: #f8f9fa;
$gray-dark: #333333;
$pink: #e91e63;
$brown: #8b4513;

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  overflow-x: hidden;
  font-family: "Helvetica Neue";
}

.wrapper {
  overflow: hidden;
}

// Container
.container {
  width: 1440px !important;
  margin: 0 auto;
  padding: 0 16px !important;

  @media screen and (max-width: 768px) {
    padding: 0 8px !important;
  }
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 100% !important;
}

section {
  margin-bottom: 60px;

  //
  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.top-banner {
  background: var(--Green, #c2e028);
  height: 24px;
  overflow: hidden;
  position: relative;
  padding: 4px 0;

  .marquee-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    .marquee-content {
      display: flex;
      align-items: center;
      gap: 30px;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 20s linear infinite;

      span {
        display: inline-block;
        color: var(--Black, #272727);
        font-family: "Helvetica Neue", sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

// Header
.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
  background: transparent;
  position: fixed;

  //
  &.active {
    background: #ffff;
  }

  //
  &.header-top_active {
    background: #ffff;
    top: 0;
  }

  //

  @media screen and (max-width: 768px) {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //
  &:hover {
    background: #ffffff;
  }

  //

  .navbar {
    padding: 0;

    //
    .logo {
      img {
        @media screen and (max-width: 768px) {
          width: 40px;
          height: 22px;
        }
      }
    }

    &-left {
      gap: 30px;

      .nav-link {
        color: var(--Black, #272727);

        /* Desktop/P1 */
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 18.2px */
        text-transform: uppercase;
      }
    }

    &-actions {
      @include flex-center;
      gap: 32px;

      @media (max-width: 768px) {
        gap: 12px;
      }

      .action-btn {
        cursor: pointer;
        transition: color 0.3s ease;

        //
        @media screen and (max-width: 768px) {
          svg {
            width: 14.751px;
            height: 13.65px;
            aspect-ratio: 14.75/13.65;
          }
        }
      }
    }
  }
}

// Mobile Menu Toggle
.mobile-menu-toggle {
  background: none;
  border: none;
  width: 25px;
  height: 25px;
  @include flex-center;
  flex-direction: column;
  cursor: pointer;

  //
  .opening {
    display: none;

    //
    &.active {
      display: block;
    }
  }

  .closing {
    display: none;

    //
    &.active {
      display: block;
    }
  }

  //
  span {
    width: 25px;
    height: 2px;
    background-color: $black;
    margin: 2px 0;
    transition: 0.3s;

    &:nth-child(1) {
      transform-origin: top left;
    }

    &:nth-child(3) {
      transform-origin: bottom left;
    }
  }
}

// Mobile Menu
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 280px;
  height: 150vh;
  background-color: $white;
  z-index: 1000;
  transition: left 0.3s ease;
  overflow-y: auto;
  margin-top: 85px;

  &.active {
    left: 0;
  }

  &.header-top_active {
    margin-top: 50px;
  }

  &-content {
    .item1 {
      margin-bottom: 114px;
      padding: 24px 16px;
    }

    .nav-section {
      .nav-dropdown-btn {
        width: 100%;
        background: none;
        border: none;
        @include flex-between;
        color: $black;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;

        i {
          font-size: 12px;
          transition: transform 0.3s ease;
        }

        &.active i {
          transform: rotate(90deg);
        }
      }

      .nav-dropdown {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        margin-bottom: 10px;
        margin-top: 16px;

        &.active {
          max-height: 200px;
        }

        .dropdown-link {
          display: block;
          color: $gray-dark;
          text-decoration: none;
          margin-bottom: 14px;
          font-size: 13px;
          transition: color 0.3s ease;

          &:hover {
            color: $green;
          }

          //
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .mobile-nav-link {
      display: block;
      color: $black;
      text-decoration: none;
      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      transition: color 0.3s ease;

      &:hover {
        color: $green;
      }
    }

    .mobile-about {
      display: flex;
      padding: 24px 16px;

      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      border-top: 1px solid var(--Input-dark-gray, #cacaca);
      background: #fff;

      //
      a {
        color: var(--50-black, #858585);

        /* Mobile/Body mobile 1 */
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 16.8px */
        text-transform: uppercase;
      }
    }

    .mobile-end-about {
      display: flex;
      padding: 24px 16px;

      align-items: flex-start;
      flex-wrap: wrap;
      gap: 16px;
      border-top: 1px solid var(--Input-dark-gray, #cacaca);
      background: #fff;

      //
      li {
        list-style: none;
      }

      //
      a {
        color: var(--50-black, #858585);

        /* Mobile/Body mobile 1 */
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 16.8px */
        text-transform: uppercase;
      }
    }
  }
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

// Hero Slider
.hero-slider {
  height: 100vh;
  position: relative;

  .heroSwiper {
    height: 100%;

    .swiper-slide {
      position: relative;

      &.brown-slide {
        width: 100%;
        height: 100vh;
      }

      &.pink-slide {
        width: 100%;
        height: 100vh;
      }

      &.lifestyle-slide {
        width: 100%;
        height: 100vh;
      }
    }

    .swiper-pagination {
      display: none;

      //
      .swiper-pagination-bullet {
        width: 85px;
        height: 2px;
        flex-shrink: 0;
        border-radius: 5px;
        background: var(--White, #fff);
      }

      //
      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 50px;
      height: 50px;
      margin-top: -25px;
      color: $black;

      @media (max-width: 768px) {
        display: none;
      }

      &:after {
        display: none;
      }

      i {
        font-size: 18px;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }

    .swiper-button-next {
      right: 20px;

      @media (max-width: 768px) {
        right: 15px;
      }
    }

    .swiper-button-prev {
      left: 20px;

      @media (max-width: 768px) {
        left: 15px;
      }
    }
  }
}

// Cookie Popup
.cookie-popup {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  left: 50%;
  right: auto;
  max-width: 100%;
  transform: translateX(-50%) translateY(100px);

  &.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .cookie-content {
    display: flex;
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding: 16px;
    }

    p {
      color: #3d3836;
      /* Desktop/P3 */
      font-family: "Helvetica Neue";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 15.6px */

      a {
        color: #3d3836;
      }

      @media (max-width: 768px) {
        font-size: 13px;
        margin-bottom: 16px;
      }
    }

    .cookie-actions {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        width: 100%;
        justify-content: space-between;
      }

      .btn-decline {
        color: var(--Grey, #555);
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        background: transparent;
        border: none;
        border-bottom: 1px solid var(--Grey, #555);
      }

      .btn-accept {
        color: var(--Grey, #555);
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 15.6px */
        text-transform: uppercase;
        display: flex;
        width: 160px;
        height: 37px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        border: 1px solid var(--Grey, #555);
        background: transparent;

        @media (max-width: 480px) {
          width: auto;
          height: 37px;
        }
      }
    }
  }
}

// Responsive Design
@media (max-width: 768px) {
  .hero-slider {
    height: calc(100vh - 80px);
  }

  .top-banner {
    height: 35px;
  }
}

// ======================================header end============
.collection-section {
  .section-title {
    color: var(--Black, #272727);
    font-family: "Helvetica Neue";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media screen and (max-width: 480px) {
      margin-bottom: 30px;
    }
  }

  .section-title2 {
    color: var(--Black, #272727);
    font-family: "Helvetica Neue";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 24px;

    @media screen and (max-width: 480px) {
      margin-bottom: 20px;
    }
  }

  .products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: space-between;
  }

  .product-card {
    flex: 0 0 calc(25% - 3px);
    background: white;
    overflow: hidden;
    position: relative;
  }

  .product-image {
    display: flex;
    height: 512px;
    flex-direction: column;
    align-items: flex-end;
    gap: 102px;
    align-self: stretch;
    background: #f5f5f5;
    margin-bottom: 6px;

    @media screen and (max-width: 480px) {
      height: 260px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media screen and (max-width: 480px) {
      height: 260px;
    }
  }

  .heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .heart-icon {
    svg {
      width: 100%;
      height: 100%;
      fill: none;
      stroke: #272727;
      stroke-width: 1;
      transition: all 0.3s ease;
    }
  }

  .heart-icon {
    &.active {
      svg {
        fill: #91be17;
        stroke: #91be17;
      }
    }
  }

  // ==========================================
  .isnew-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

    //
    svg {
      @media screen and (max-width: 768px) {
        width: 24px;
        height: 80px;
      }
    }
  }

  .product-brand {
    color: var(--Black, #272727);
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 8px;

    //
    @media screen and (max-width: 480px) {
      font-size: 12px;
      margin-bottom: 4px;
    }
  }

  .product-price_item {
    display: flex;
    gap: 16px;
  }

  .product-price {
    color: rgba(39, 39, 39, 0.6);
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 8px;
    display: block;

    //
    @media screen and (max-width: 480px) {
      font-size: 12px;
      margin-bottom: 4px;
    }
  }

  .old-product-price {
    color: var(--Input-dark-gray, #cacaca);
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-decoration-line: line-through;
    display: block;
  }

  .color-options {
    display: flex;
    gap: 8px;
  }

  .color-option {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: transform 0.2s ease;
  }

  /* Responsive */
  @media (max-width: 992px) {
    .product-card {
      flex: 0 0 calc(33.333% - 4px);
    }
  }

  @media (max-width: 768px) {
    .product-card {
      flex: 0 0 calc(50% - 4px);
    }

    .product-image {
      height: 250px;
    }
  }

  @media (max-width: 576px) {
    .products-grid {
      row-gap: 32px;
      column-gap: 4px;
    }
  }
}

// =================collection-section end

.WOMAN-MAN {
  margin-bottom: 0;

  //
  .block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img {
      width: calc(50% - 2px);
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;

      //
      h2 {
        color: #fff;
        text-align: center;

        /* Desktop/H0 */
        font-family: "Helvetica Neue";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 36.4px */
        text-transform: uppercase;

        //
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }

      //
      @media screen and (max-width: 768px) {
        width: 50%;
        height: 340px;
      }

      //
      &:first-child {
        background-image: url(../images/WOMAN-MAN_section1.jpg);
      }

      &:nth-child(2) {
        background-image: url(../images/WOMAN-MAN_section2.png);
      }
    }
  }
}

// woman-man end

.moni-moss {
  width: 100%;
  height: 100vh;
  background-image: url(../images/mini-moss.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gorizontal o‘rtaga */
  justify-content: flex-end;
  padding: 50px 0;
  margin-bottom: 60px;

  //
  @media screen and (max-width: 768px) {
    width: auto;
    height: 110vh;
    margin: 40px 8px;
    margin-top: 0;
    background-image: url(../images/mobile_mini-moss.jpg);
    padding: 0;
    padding-bottom: 16px;
  }

  @media screen and (max-width: 480px) {
    height: 60vh;
  }

  //
  .block {
    //
    img {
      width: 100%;
      margin: 0 auto;
    }

    h2 {
      color: var(--Black, #272727);
      text-align: center;

      /* Desktop/H0 */
      font-family: "Helvetica Neue";
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 36.4px */
      text-transform: uppercase;

      //
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

// ============moni-moss end============
.handbag-gallery {
  .container {
    padding-right: 0 !important;
    margin-right: 0;
  }

  //
  &__slider {
    display: block;
  }

  &__grid {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: stretch !important;
  }

  &__slide {
    width: auto;
    flex-shrink: 0;
  }

  &__card {
    height: 608px;

    @media (max-width: 768px) {
      width: 100%;
      height: 375px;
      margin-right: 0;
    }

    //
    &.style-0 {
      .handbag-gallery__image {
        height: 584px;

        //
        @media screen and (max-width: 768px) {
          height: 350px;
        }
      }
    }

    &.style-1 {
      .handbag-gallery__image {
        height: 436px;

        //
        @media screen and (max-width: 768px) {
          height: 263px;
        }
      }
    }

    &.style-2 {
      display: flex;
      justify-content: end;
      /* gorizontal o‘rtaga */
      align-items: start;
      flex-direction: column;
      /* pastga tushiradi */

      //
      .handbag-gallery__image {
        height: 349px;

        //
        @media screen and (max-width: 768px) {
          height: 220px;
        }
      }
    }
  }

  &__image {
    width: 100%;
    position: relative;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__text {
    color: var(--Black, #272727);
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 16px;
    /* 20.8px */
    text-transform: uppercase;
  }

  &__username {
    color: var(--50-black, #858585);

    /* Mobile/Caption 1 mobile */
    font-family: "Helvetica Neue";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 14px */
    margin-top: 4px;
  }
}

//
.deliver {
  width: 100%;
  height: 720px;
  background-image: url(../images/deliver-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* gorizontal markaz */
  align-items: start;

  /* vertikal pastga */
  @media screen and (max-width: 768px) {
    padding: 16px 8px;

    height: 400px;
  }

  //
  &.favaurite {
    align-items: start;
    justify-content: start;
    background-image: url(../images/favaurite_deliver.jpg);
    margin-bottom: 0;

    //
    p {
      width: 343px;
      color: var(--White, #fff);
      font-family: "Helvetica Neue";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 18.2px */
      margin-top: 24px;
    }
  }

  //
  .block {
    //
    @media screen and (max-width: 480px) {
      width: 100%;
    }

    //
    .box {
      h1 {
        color: var(--White, #fff);
        font-family: "Helvetica Neue";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 24px;

        //
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }

      a {
        display: flex;
        width: 260px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 100px;
        background: transparent;
        border: 1px solid var(--Green, #91be17);
        color: var(--Green, #91be17);
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;

        //
        &:hover {
          background: var(--Green, #91be17);
          color: var(--White, #fff);
        }

        //
        @media screen and (max-width: 768px) {
          display: inline-flex;
          width: auto;
          font-size: 10px;
        }
      }
    }
  }
}

//
.deliver2 {
  width: 100%;
  height: 720px;
  background-image: url(../images/deliver2-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* gorizontal markaz */
  align-items: start;

  /* vertikal pastga */
  @media screen and (max-width: 768px) {
    padding: 16px 8px;

    height: 400px;
  }

  //
  .block {
    //
    @media screen and (max-width: 480px) {
      width: 100%;
    }

    //
    .box {
      h1 {
        color: var(--White, #fff);
        font-family: "Helvetica Neue";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 24px;

        //
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }

      a {
        display: flex;
        width: 260px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--Green, #91be17);
        color: var(--White, #fff);
        border: 1px solid var(--Green, #91be17);
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;

        //
        &:hover {
          color: var(--Green, #91be17);
          background: transparent;
        }

        //
        @media screen and (max-width: 768px) {
          display: inline-flex;
          width: auto;
          font-size: 10px;
        }
      }
    }
  }
}

// deliver2 end
.smb-newsletter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 160px 0;

  //
  @media screen and (max-width: 768px) {
    height: 50vh;
  }

  //
  @media screen and (max-width: 480px) {
    height: 300px;
  }

  //
  &.favaurite {
    .smb-newsletter-title {
      color: var(--Black, #272727);

      /* Desktop/H1 */
      font-family: "Helvetica Neue";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 31.2px */
      text-transform: uppercase;
    }
    //
    .smb-subscribe-btn {
      &:hover {
        background: transparent !important;
      }
    }
  }

  .smb-newsletter-container {
    text-align: center;
    max-width: 500px;
    width: 100%;

    .smb-newsletter-title {
      color: var(--Black, #272727);
      font-family: "Helvetica Neue";
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 36.4px */
      text-transform: uppercase;
      margin-bottom: 16px;

      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }

    .smb-newsletter-description {
      color: var(--50-black, #858585);
      text-align: center;
      font-family: "Helvetica Neue";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;

      @media screen and (max-width: 480px) {
        font-size: 12px;
      }
    }

    .smb-subscribe-btn {
      display: flex;
      height: 38px;
      padding: 11px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: var(--Green, #91be17);
      font-family: "Helvetica Neue";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      border-radius: 100px;
      border: 1px solid var(--Green, #91be17);
      background: transparent;
      margin: 0 auto;
      margin-top: 16px;
      /* 15.6px */
      text-transform: uppercase;

      //
      &:hover {
        background: var(--Green, #91be17);
        color: #f0f0f0;
      }

      @media screen and (max-width: 480px) {
        font-size: 10px;
      }
    }
  }
}

.smb-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(16px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  &.smb-modal-active {
    display: flex;
  }

  .smb-modal {
    background: white;
    width: 90%;
    max-width: 450px;
    position: relative;

    .smb-modal-close {
      position: absolute;
      top: 15px;
      right: 20px;
      background: none;
      border: none;
      font-size: 18px;
      color: #999;
      cursor: pointer;
    }

    .smb-ok-btn {
      position: absolute;
      bottom: 15px;
      right: 25px;
      background: none;
      border: none;
      font-size: 18px;
      color: #999;
      cursor: pointer;
      border-radius: 100px;
      border: 1px solid var(--Grey, #555);
      display: flex;
      width: 90%;
      height: 42px;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      //
      @media screen and (max-width: 768px) {
        width: 90%;
        right: 15px;
      }
    }

    .smb-modal-content {
      padding: 24px 24px 26px 24px;
      text-align: center;

      @media screen and (max-width: 480px) {
        padding: 16px;
      }

      .smb-modal-title {
        color: var(--Black, #272727);
        text-align: center;
        /* Desktop/H2 */
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 20.8px */
        text-transform: uppercase;
        margin-bottom: 40px;
        margin-top: 24px;

        @media screen and (max-width: 480px) {
          font-size: 12px;
          line-height: 140%;
          text-align: start;
          margin-bottom: 30px;
          margin-top: 0;
        }
      }

      .smb-form-group {
        margin-bottom: 20px;
        text-align: left;

        label {
          color: var(--Black, #272727);

          /* Desktop/P1 */
          font-family: "Helvetica Neue";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          text-transform: uppercase;
          margin-bottom: 8px;

          @media screen and (max-width: 480px) {
            font-size: 12px;
          }
        }

        input[type="email"] {
          width: 100%;
          display: flex;
          height: 48px;
          padding: 8px 12px;
          align-items: center;
          flex-shrink: 0;
          align-self: stretch;
          border: 1px solid var(--Input-dark-gray, #cacaca);
          background: #fff;
          outline: none;

          &::placeholder {
            color: var(--Input-dark-gray, #cacaca);
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;

            /* 22.4px */
            //
            @media screen and (max-width: 480px) {
              font-size: 12px;
            }
          }
        }
      }

      .smb-checkbox-group {
        margin-bottom: 40px;
        text-align: left;

        .smb-checkbox-item {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          position: relative;

          //
          &:last-child {
            margin-bottom: 0;
          }

          input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            width: 24px;
            height: 24px;
            border: 2px solid #272727;
            border-radius: 4px;
            margin-right: 10px;
            margin-top: 2px;
            flex-shrink: 0;
            cursor: pointer;
            position: relative;
            background-color: white;
            transition: all 0.2s ease;
          }

          input[type="checkbox"]::before {
            content: "";
            position: absolute;
            left: 6px;
            top: 1px;
            width: 8px;
            height: 15px;
            border: solid #272727;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
            transition: opacity 0.2s ease;
          }

          input[type="checkbox"]:checked::before {
            opacity: 1;
          }

          label {
            color: var(--Grey, #555);
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            /* 22.4px */
          }

          .input_label {
            color: var(--Black, #272727);

            /* Desktop/P2 */
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;

            /* 19.6px */
            //
            @media screen and (max-width: 480px) {
              font-size: 12px;
            }

            //
            a {
              color: var(--Black, #272727);

              /* Desktop/P2 */
              font-family: "Helvetica Neue";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              text-decoration-line: underline;
              text-decoration-style: solid;
              text-decoration-skip-ink: auto;
              text-decoration-thickness: 8%;
              text-underline-offset: 25%;
              text-underline-position: from-font;
            }
          }
        }
      }

      .smb-submit-btn {
        width: 100%;
        display: flex;
        height: 42px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 100px;
        background: var(--Green, #91be17);
        /* Desktop/H2 */
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 20.8px */
        text-transform: uppercase;
        border: 1px solid var(--Green, #91be17);
        color: #f0f0f0;

        //
        &:hover {
          border-radius: 100px;
          background: transparent;
          color: var(--50-black, #858585);
        }

        //
        @media screen and (max-width: 480px) {
          font-size: 12px;
        }
      }
    }
  }
}

.smb-success-modal {
  .smb-modal-content {
    display: flex;
    width: 436px;
    height: 362px;
    padding: 24px 24px 26px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    //
    @media screen and (max-width: 480px) {
      width: auto;
    }

    .smb-success-title {
      color: var(--Black, #272727);
      text-align: center;
      font-family: "Helvetica Neue";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-transform: uppercase;
    }

    .smb-success-message {
      color: var(--Grey, #555);
      text-align: center;
      font-family: "Helvetica Neue";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }
}

// ===============================================
.footer_top-item {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  background: #fafafa;
  margin-bottom: 120px;

  //
  @media screen and (max-width: 768px) {
    display: none;
  }

  //
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 116px;

    //
    li {
      a {
        color: #000;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 18.2px */
        text-transform: uppercase;
      }
    }
  }
}

.smb-footer {
  background: white;

  //
  .container {
    @media screen and (max-width: 768px) {
      padding: 0 !important;
    }
  }

  .smb-footer-desktop {
    display: block;

    .smb-footer-content {
      margin: 0 auto;
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 0;

      .smb-footer-column {
        .smb-footer-links {
          padding: 0;
        }

        .smb-footer-title {
          color: #000;
          font-family: "Helvetica Neue";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          text-transform: uppercase;
          margin-bottom: 32px;
        }

        .smb-payment-icons {
          display: flex;
          align-items: center;
          gap: 32px;
        }

        a {
          line-height: 130%;
        }

        &:first-child {
          .smb-footer-links {
            list-style: none;

            li {
              margin-bottom: 16px;

              a {
                color: #999;
                text-decoration: none;
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 100%;
              }
            }
          }

          .smb-contact-info {
            .contact-title {
              font-size: 11px;
              color: #999;
              font-weight: normal;
              margin-bottom: 25px;
              text-transform: uppercase;
              letter-spacing: 1px;
            }

            p {
              color: #777;
              font-family: "Helvetica Neue";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
              /* 18.2px */
              text-transform: uppercase;
              margin-bottom: 16px;
            }

            .company-info {
              margin-top: 136px;

              a {
                color: #777;
                font-family: "Helvetica Neue";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                display: block;
                margin-bottom: 4px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        &:nth-child(2) {
          .smb-footer-links {
            list-style: none;

            li {
              margin-bottom: 12px;

              a {
                color: #999;
                text-decoration: none;
                font-size: 11px;
                letter-spacing: 0.3px;
              }
            }
          }
        }

        &:nth-child(3) {
          .smb-footer-links {
            list-style: none;

            li {
              margin-bottom: 16px;

              a {
                color: #777;
                font-family: "Helvetica Neue";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                /* 18.2px */
              }
            }
          }
        }

        &:nth-child(4) {
          .smb-footer-links {
            list-style: none;

            li {
              margin-bottom: 12px;

              a {
                color: #999;
                text-decoration: none;
                font-size: 11px;
                letter-spacing: 0.3px;
              }
            }
          }
        }
      }
    }

    .smb-footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      margin-top: 200px;
      padding: 10px 0;

      .smb-copyright {
        color: #777;
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 15.6px */
      }

      .smb-developer {
        color: #777;
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 15.6px */
      }
    }
  }

  .smb-mobile-section_item {
    border-top: 1px solid var(--50-black, #858585);
    padding: 16px 8px;
    padding-bottom: 0;
  }

  .smb-footer-mobile {
    display: none;

    .smb-mobile-section {
      margin-bottom: 24px;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }

      .smb-mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        //
        &.contacting {
          margin-bottom: 16px;
        }

        //
        .smb-mobile-title {
          color: var(--Black, #272727);

          /* Mobile/Body mobile 1 */
          font-family: "Helvetica Neue";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          /* 16.8px */
          text-transform: uppercase;
        }

        .smb-mobile-arrow {
          font-size: 12px;
          color: #999;
          transition: transform 0.3s ease;
          transform: rotate(-90deg);
        }

        &.active {
          .smb-mobile-arrow {
            transform: rotate(0deg);
          }
        }
      }

      .smb-footer-links {
        list-style: none;
        padding: 0;

        .links_main-item {
          display: flex;
          gap: 16px;
          align-items: center;
          margin-bottom: 16px;

          //
          &:last-child {
            margin-bottom: 0;
          }
        }

        //
        li {
          a {
            color: #777;

            /* Mobile/Body mobile 2 */
            font-family: "Helvetica Neue";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 16.8px */
          }
        }
      }

      .smb-mobile-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        &.active {
          // margin-bottom: 24px;
          max-height: 500px;
        }

        .smb-mobile-links {
          ul {
            list-style: none;
            padding: 0;

            li {
              margin-bottom: 14px;

              //
              &:last-child {
                margin-bottom: 0;
              }

              //
              &:first-child {
                margin-top: 16px;
              }

              a {
                color: var(--50-black, #858585);

                /* Mobile/Body mobile 2 */
                font-family: "Helvetica Neue";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                /* 16.8px */

                /* 18.2px */
                //
                @media screen and (max-width: 480px) {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }

      &.no-dropdown {
        padding-left: 8px;
        margin-top: 50px;

        .smb-mobile-header {
          cursor: default;

          .smb-mobile-arrow {
            display: none;
          }
        }

        .smb-mobile-content {
          max-height: none;

          .smb-contact-info {
            padding-bottom: 0;

            p {
              color: #999;
              font-size: 11px;
              margin-bottom: 8px;
              line-height: 1.2;
              letter-spacing: 0.3px;
            }
          }
        }
      }
    }

    .smb-mobile-footer {
      padding: 10px 8px;

      display: flex;
      justify-content: space-between;
      border-top: 1px solid var(--Input-dark-gray, #cacaca);
      background: #fff;

      .smb-copyright {
        color: #777;
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
      }

      .smb-developer {
        color: #777;
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
      }
    }
  }
}

@media (max-width: 768px) {
  .smb-footer {
    .smb-footer-desktop {
      display: none;
    }

    .smb-footer-mobile {
      display: block;
    }
  }
}
.breadcrumbs {
  display: flex;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
  margin-top: 90px;
  .container {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    background: #fff;
    padding: 8px 16px;
  }
  ul {
    display: flex;
    gap: 8px;
    list-style: none;
  }
  a {
    color: #858585;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    text-transform: uppercase;
  }
}

